QPushButton, QLineEdit
{
    background-color: white;
    border-width: 3px;
    border : 2px solid white;
    border-radius : 10px;
    border-color: #DCDCDC;
    padding: 3px;
}

QPushButton#starter_button
{
    padding: 3px;
    color: #1E8BC3;
    font-family: Times New Roman, Courier New;
    font-size: 14px;
    font-weight:  bold;
}

QPushButton#quit_app_pushButton
{
    font-size: 14px;
    padding: 3px;
    color : red;
    font-family: Times New Roman, Courier New;
    font-weight: bold;
}

QPushButton, QLabel, QLineEdit, QGroupBox, QRadioButton, QCheckBox
{
    color: gray;
    font-family: Times New Roman, Courier New;
    font-weight: bold;
    font-size: 14px;
}
